.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav {
  width: 400px;
}

.sidenav-container {
  @extend .container
}

.logo {
  width: 100%;
  height: 47px;
}

.header {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}

.footer {
  flex: 0 0 auto;
}
