<mat-drawer-container class="sidenav-container" (backdropClick)="drawerClose.emit()">
  <mat-drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="drawerOpened">
    <mat-toolbar>
      <img class="logo" src="assets/logo.png">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="container">
    <div class="header">
      <app-toolbar [label]="title" (toolbarMenuClick)="toolbarMenuClick.emit()"></app-toolbar>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
