<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toolbarMenuClick.emit();">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>{{ label }}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-space"></span>
  <button mat-icon-button>
    <mat-icon aria-label="Main options">more_vert</mat-icon>
  </button>
</mat-toolbar>
